<main class="container mt-4">
    <h2>User Profile</h2>
    <div class="mb-3">
        {{#if user.profilePic}}
        <img src="{{user.profilePic}}" class="img-thumbnail" alt="Profile picture">
        {{else}}
        <img src="../public/images/user.png" class="img-thumbnail" alt="Profile picture">
        {{/if}}
    </div>
    <form action="enter appropriate route hear" method="post" id="userinfo-form" class="mt-3">
        <div class="mb-3">
            <label for="profilePicInput" class="form-label">Profile Picture</label>
            <input type="file" id="profilePicInput" name="profilePicInput" class="form-control" accept="image/*">
            </div>
        </div>
        <div class="mb-3">
            <label for="emailAddressInput" class="form-label">Email address</label>
            <input type="email" id="emailAddressInput" name="emailAddressInput" class="form-control" value="{{user.emailAddressInput}}" disabled>
            <div class="form-text" id="email-info" hidden>Email field value must be in a proper email address format
            </div>
        </div>
        <div class="mb-3">
            <label for="ageInput" class="form-label">Age</label>
            <input type="number" id="ageInput" name="ageInput" class="form-control" value="{{user.ageInput}}" disabled>
            <div class="form-text" id="age-info" hidden>Age field value must be a whole number between 18 and 100</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="passwordInput">Password</label>
            <input type="password" id="passwordInput" name="passwordInput" class="form-control" value="{{user.passwordInput}}">
            <div class="form-text" id="password-info" hidden>
                <ul>
                    <li>Password must be at least 8 characters long.</li>
                    <li>Password must contain at least one uppercase character.</li>
                    <li>Password must contain at least one number.</li>
                    <li>Password must contain at least one special character.</li>
                    <li>Password cannot contain space.</li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="confirmPasswordInput">Confirm Password</label>
            <input type="password" id="confirmPasswordInput" name="confirmPasswordInput" class="form-control" value="{{user.confirmPasswordInput}}">
            <div class="form-text" id="confirmpassword-info" hidden>Confirm password and password must match.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="roleInput">Select role</label>
            <select class="form-select" name="roleInput" id="roleInput" disabled>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <div class="form-text" id="role-info" hidden>You must select a role from the given options in the dropdown.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="preferGenreInput" id="preferGenreLabel">Select genres</label>
            <select class="form-select" name="preferGenreInput" id="preferGenreInput" multiple>
                <option value="action">Action</option>
                <option value="adventure">Adventure</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="fantasy">Fantasy</option>
                <option value="horror">Horror</option>
                <option value="musicals">Musicals</option>
                <option value="mystery">Mystery</option>
                <option value="romance">Romance</option>
                <option value="science fiction">Science fiction</option>
                <option value="sports">Sports</option>
                <option value="thriller">Thriller</option>
                <option value="western">Western</option>
            </select>
            <div class="form-text" id="genre-info" hidden>
                <ul>
                    <li>You must select a genre from the given options in the dropdown.</li>
                    <li>To select multiple genres keep the Ctrl key pressed while selecting.</li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="preferContentInput" id="preferContentLabel">Set preferred content</label>
            <select class="form-select" name="preferContentInput" id="preferContentInput">
                <option value="G">G(General Audience)</option>
                <option value="18+">18+(NC 17)</option>
            </select>
            <div class="form-text" id="content-info" hidden>
               You must select a role from the given options in the dropdown.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div id="client-side-error-div" hidden></div>
    </form>
    {{#if hasError}}
    <p class="error">{{error}}</p>
    {{/if}}
    <script src="/public/js/user_form.js"></script>
</main>